.wrapper{
	display: block;
	width: 200px;
	height: 200px;
	border: 1px solid #bbb;
	margin: 20px;
	float: left;
}

.box {
  width: 100%;
  height: 100%;
  opacity: .75;
}

/* 
father1
*/
.father1 {
	perspective: 600px;
	-webkit-transform-style: preserve-3d;
	
	transform-style: preserve-3d;
}

.father1 .box{
	background: darkred;
	transition: all 0.3 linear;
	-webkit-transition: all 0.3s linear;
}

.father2 .box{
	background: darkblue;
	transition: all 0.3s leaner;
	-webkit-transition: all 0.3s linear;
}

.father1 .box:hover{
	transform: rotateY(45deg);
}

.father2 .box:hover{
	transform: perspective(800px) rotateX(45deg);
}


