body{
	background: url(../images/texture.png) repeat top right;
}

.wrapper{
	display: block;
	width: 100%;
	max-width: 1200px;
	
	margin: 0px;
	padding: 20px 0px;
	border-bottom: 3px dashed rgba(248,236,191,0.6);
}

.sub{
	margin:20px 0px;
}

.example1 {
	width: 100px;
	height: 100px;
	margin: 0px 50px;
	border:1px solid #000;
	perspective: 600px;

}

.example2{
	width: 100px;
	height: 100px;
	margin: 0px 50px;
	border:1px solid #000;
}
.example3{
	width: 100px;
	height: 100px;
	margin: 0px 50px;
	border:1px solid #000;
}

.box{
	height: 100%;
	width: 100%;
}

.example1 .box{
	background: rgb(0, 146, 199);
	transition: all 0.3 linear;
	-webkit-transition: all 0.3s linear;
}

.example2 .box{
	background: rgb(159, 224, 246);
	transition: all 0.3s leaner;
	-webkit-transition: all 0.3s linear;
}

.example3 .box{
	background: rgb(243, 229, 154);
	transition: all 0.3 linear;
	-webkit-transition: all 0.3s linear;
}

.example1 .box:hover{
	transform: rotateY(45deg);
}

.example2 .box:hover{
	transform: perspective(800px) rotateX(45deg);
}

.example3 .box:hover{
	transform: perspective(800px) rotateZ(45deg);
}

.code{
	
}
.code p{
	color: rgb(69, 39, 22);
}

